<div id="container">

    
    <div id="content">
        <button id="back" [routerLink]="'/login'" (click)="unlogin()">
            <mat-icon id="icon">power_settings_new</mat-icon>
        </button>

        <div id="recuento" (click)="mostrar()">
            {{recuento}}
        </div>

        <div class="clearfix"></div>
        
        <div id="body">
            <div class="titulos">
                <p class="tit">Código NFC</p>
                <p class="tit">Código Hash</p>
            </div>

            <div class="inputs">
                <input type="text" #miInput class="inpt" [(ngModel)]="codigoNfc" [placeholder]="codigoNfc"
                autofocus  autocomplete="off" (keydown.enter)="encrypt.click()" (keydown.enter)="add.click()" >
                <button #encrypt class="hash" (click)="crearHash()"> <mat-icon id="icono">forward</mat-icon></button>
                <input type="text" class="inpt" [value]="codigoHash" autocomplete="off" readonly>
            </div>

        </div>

        <div class="clearfix"></div>

        <button #add id="btn" (click)="memorizar()">Añadir</button>
    </div>
</div>
