<div id="Container">


    <div id="ContImg">
        <img src="https://i.ibb.co/bWr940q/Bracelit-Logo.png" id="bracelit">
    </div>

    <div id="ContIS">

        <div id="card" style="max-width: 99%; ">
            <div class="card-header" id="IS">Inicia Sesión</div>

            <div class="clearfix"></div>

            <!-- <img id="chip1" src="https://i.ibb.co/KD5WsTj/chip2.png" alt=""> -->
            <div id="chip">
                <mat-icon id="nfc">nfc</mat-icon>
            </div>

            <div class="card-body">
                <form class="form-group" id="card-text" [formGroup]="formulario">

                    <div id="inputUser">
                        <mat-icon id="person" class="person">person</mat-icon>
                        <input id="user" type="text" placeholder="Email" class="inputIcon form-control"
                            autocomplete="off"
                            [ngClass]="{'is-invalid':hasErrors('email', 'required')|| hasErrors('email', 'email')}"
                            formControlName="email">

                        <p id="error" *ngIf="hasErrors('email', 'required')">Email requerido</p>
                        <p id="error" *ngIf="hasErrors('email', 'email')">Formato de email inválido</p>
                    </div>

                    <br>

                    <div id="inputPass">
                        <mat-icon id="lock">lock</mat-icon>
                        <input id="pass" [type]="changetype?'password':'text'" placeholder="Contraseña"
                            [ngClass]="{'is-invalid':hasErrors('password', 'required')}" class="inputIcon form-control"
                            formControlName="password">

                        @if(error==='';){
                        @if (hasErrors('password', 'required')) {
                        }@else if(view){
                        <mat-icon id="view" (click)="viewpass()">visibility</mat-icon>
                        }@else {
                        <mat-icon id="view" (click)="viewpass()">visibility_off</mat-icon>
                        }
                        <p id="error" *ngIf="hasErrors('password','required')">Contraseña requerida</p>
                        }@else {
                        <p id="error">{{error}}</p>
                        @if(view){
                        <mat-icon id="view" (click)="viewpass()">visibility</mat-icon>
                        }@else {
                        <mat-icon id="view" (click)="viewpass()">visibility_off</mat-icon>
                        }
                        }
                    </div>

                    <div class="clearfix"></div>

                    <button id="btn" (click)="onSumbit()">ENTRAR</button>

                </form>
            </div>
        </div>

    </div>
</div>